@import "../node_modules/normalize.css/normalize.css"

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

button
input[type="reset"]
input[type="button"]
input[type="submit"]
  &::-moz-focus-inner
    padding: 0
    margin: 0
    border: 0

input, button, select
  margin: 0
  padding: 0
  border: 0

body
  background: color-background
  font-size: font-size
  font-family: font-sans
  color: color-default
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.base__container
  clearfix()
  position: relative
  @media mq-desktop
    margin-left: header-menu-width

.base__main
  background: #fff
  @media mq-desktop
    width: 100%
    float: right
    box-shadow: 0 0 16px rgba(#000, 0.3)
    border-radius: 3px 0 0 3px
