.faculty-list-item
  float: left
  width: (100 / 3)%
  padding-bottom: 30px

.faculty-list-item-link
  display: block
  text-align: center
  text-decoration: none

.faculty-list-item-avatar
  width: 150px
  height: 150px
  border-radius: 50%
  background: #ddd
  margin: 0 auto

.faculty-list-item-name
  font-weight: bold
  color: color-top-nav
  font-size: 1.2em
  padding: 1em 0 0.5em
  display: block

.faculty-list-item-content
  line-height: line-height
  font-size: 0.9em
  color: color-gray
