#header
  position: absolute
  top: 0
  left: 0
  width: 100%

#top-nav-wrap
  @extend $wrapper
  background: color-top-nav
  height: top-nav-height

#top-nav
  @extend $inner

#top-nav-right
  float: right

.top-nav-item
  float: left

.top-nav-link
  color: #eee
  font-size: 0.9em
  text-decoration: none
  padding: 0 15px
  transition: 0.2s
  line-height: top-nav-height
  display: block
  &:hover
    background: lighten(color-top-nav, 10%)

#banner
  height: banner-height
  background: black