.header__menu
  position: relative
  @media mq-desktop
    float: left
    margin-left: header-menu-width * -1
    width: header-menu-width

.header__logo-wrap
  margin: 0
  font-size: 1em
  font-weight: normal
  padding: 10px 0 15px
  @media mq-desktop
    padding: 35px 0

.header__logo
  text-indent: -9999px
  display: block
  background: url(images/logo.png) no-repeat center top
  width: 40px
  background-size: @width
  height: @width
  margin: 0 auto
  @media mq-desktop
    padding-top: logo-size + 20px
    background-size: logo-size
    text-align: center
    color: #fff
    text-decoration: none
    line-height: 1
    text-indent: 0
    width: 100%
    height: 100%

.header__nav
  display: none
  @media mq-mobile
    position: absolute
    top: 100%
    left: 0
    width: 100%
    background: color-background
  @media mq-desktop
    display: block
  ul
    list-style: none
    margin: 0
    padding: 0
  li
    position: relative
    &:hover
      background: lighten(color-background, 20%)
      > .sub-menu
        display: block
  a
    text-decoration: none
    color: #fff
    display: block
    padding: 16px 24px
    line-height: 1
    font-size: 1.15em
  .sub-menu
    display: none
    position: absolute
    left: 100%
    top: 0
    background: color-background
    white-space: nowrap
    box-shadow: 0 0 12px rgba(#000, 0.3)

.header__top-menu
  clearfix()
  background: color-background
  line-height: 1
  ul
    margin: 0
    padding: 0
    list-style: none
    float: right
  li
    float: left
  a
    color: #ddd
    text-decoration: none
    padding: 10px 15px
    display: block
    &:hover
      color: color-accent

.header__menu-toggle
  position: absolute
  top: 0
  right: 0
  font-size: 24px
  padding: 8px 16px
  color: #ddd
  height: 65px
  cursor: pointer
  line-height: 1
  @media mq-desktop
    display: none
  i
    vertical-align: middle
    display: inline-block
  &:before
    content: ""
    vertical-align: middle
    display: inline-block
    height: 100%

#header__menu-checkbox
  position: absolute
  top: -9999px
  left: -9999px
  @media mq-desktop
    display: none
  &:checked
    ~ .header__nav
      display: block
