#page-content
  padding: 30px 0

.section-title
  font-weight: bold
  color: color-top-nav
  margin-bottom: 1em

#news-list
  list-style: none
  margin: 0
  padding: 0

.news-list-item
  border-top: 1px solid color-border
  padding: 15px 0

.news-list-link
  clearfix()
  display: block
  text-decoration: none
  position: relative

.news-list-item-date
  position: absolute
  top: 0
  left: 0
  bottom: 0
  margin: auto
  text-align: center
  width: 60px

.news-list-item-date-month
  color: color-gray
  font-weight: bold
  display: block
  font-size: 0.9em
  padding-bottom: 4px

.news-list-item-date-date
  color: color-default
  font-size: 1.2em
  display: block

.news-list-item-content
  margin-left: 60px
  padding-left: 15px
  border-left: 1px solid color-border

.news-list-item-title
  font-size: 1.1em
  font-weight: bold
  color: color-default
  line-height: 1.2
  display: block
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.news-list-item-excerpt
  color: color-gray
  display: block
  line-height: line-height
  font-size: 0.9em
  padding-top: 0.5em
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.news-list-item-meta
  position: absolute
  top: 0
  right: 0
  text-align: right
  font-size: 0.9em
  color: color-gray
