.index__banner-img
  display: block
  width: 100%
  height: auto

.index__container
  clearfix()
  max-width: max-width
  margin-right: sidebar-width

.index__content
  float: left
  width: 100%
  padding: 0 gutter-width

.index__section
  padding: 40px 0 20px

.index__section-title
  margin: 0
  font-weight: 300
  padding-bottom: 10px

.index__news-entry
  display: block
  text-decoration: none
  color: inherit
  padding: 12px 0
  border-top: 1px solid color-border
  &:hover
    background: #eee

.index__news-title
  display: block
  font-size: 1.1em
  .index__news-entry:hover &
    color: color-accent

.index__news-excerpt
  font-size: 0.9em
  padding: 0.5em 0
  line-height: line-height

.index__news-meta
  clearfix()
  color: color-gray
  font-size: 0.9em

$index__news-meta-item
  float: left
  padding-right: 15px
  &:last-child
    padding-right: 0

.index__news-date
  @extend $index__news-meta-item

.index__news-views
  @extend $index__news-meta-item

.index__pagination
  clearfix()
  padding-top: 20px
  .page-numbers
    text-decoration: none
    color: inherit
    display: block
    float: left
    line-height: 1
    padding: 6px 12px
    border: 1px solid color-border
    margin-right: 10px
    border-radius: 3px
    &:hover
      background: #0e83cd
      color: #fff
  span.page-numbers
    font-weight: bold
    background: #0e83cd
    color: #fff