.sidebar-widget
  padding: 30px 0

.widget-title
  font-weight: bold
  color: color-top-nav
  margin-bottom: 1em

.widget-link
  text-decoration: none
  line-height: line-height
  color: color-gray
  font-size: 0.9em