.sidebar
  padding: 0 gutter-width
  @media mq-desktop
    float: right
    width: sidebar-width
    margin-right: sidebar-width * -1

.sidebar__widget
  padding: 30px 0 15px
  line-height: line-height
  ul
    margin: 0
    padding: 0
    list-style: none
  a
    text-decoration: none
    color: inherit
    &:hover
      color: color-accent
      text-decoration: underline

.sidebar__widget-title
  font-weight: 300
  margin: 0 0 15px
  padding-bottom: 10px
  line-height: 1.1
  border-bottom: 1px solid color-border

.searchform
  position: relative
  display: flex

.searchform__input
  border: 2px solid color-border
  padding: 5px 10px
  width: 100%
  outline: none
  appearance: none
  border-right: none
  &:focus
    border-color: color-accent

.searchform__button
  background: color-accent
  padding: 0 10px
  color: #fff
  white-space: nowrap
