.teachers__entry
  clearfix()
  display: block
  text-decoration: none
  color: inherit
  padding-top: 30px
  margin: auto
  a
    color: color-accent
    text-decoration: none
    &:hover
      text-decoration: underline

.teachers__entry-title
  font-size: 1.5em
  font-weight: 300

.teachers__entry-thumb
  width: 200px
  height: 200px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  border-radius: 8px
  float: left
  margin-right: 20px

.teacher__cover
  width: 300px
  max-width: 100%
  margin: 0 auto
  padding: gutter-width 0
  img
    display: block
    width: 100%
    height: auto

.teacher__title
  font-weight: 300
  margin: 0
