// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #444
color-gray = #999
color-border = #e3e3e3
color-link = #0e83cd
color-link-hover = lighten(color-link, 10%)
color-background = #fafafa
color-top-nav = #542C3B
color-nav-background = #B0859A
color-footer-background = #615C60

// Typography
font-sans = "Helvetica Neue", Helvetica, Arial, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-size = 15px
line-height = 1.6em

// Layout
max-width = 1200px
gutter-width = 20px
nav-width = 220px
top-nav-height = 40px
banner-height = 260px
logo-size = 150px
sidebar-width = 220px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-normal = "screen and (min-width: 769px)"
mq-tablet = "screen and (min-width: 480px)"
