// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #444
color-gray = #999
color-border = #e3e3e3
color-background = #0E83CD
color-accent = #599CFF

// Typography
font-chinese = "PingFang TC", "黑體-繁", "Heiti TC", "蘋果儷中黑", "Apple LiGothic Medium", "微軟正黑體", "Microsoft JhengHei"
font-sans = "Helvetica Neue", Helvetica, Arial, font-chinese, sans-serif
font-serif = Garamond, Georgia, "Times New Roman", serif
font-size = 15px
line-height = 1.6em

// Layout
max-width = 1200px
gutter-width = 20px
header-menu-width = 220px
logo-size = 130px
sidebar-width = 250px

// Media queries
mq-mobile = "screen and (max-width: 768px)"
mq-desktop = "screen and (min-width: 769px)"
