/*
Theme Name: TKUIM
Theme URI: http://www.im.tku.edu.tw/
Author: Tommy Chen
Author URI: http://zespia.tw
Description: This theme is designed for TKUIM.
Version: 1.0.0
Tags: light, responsive-layout, translation-ready, blue, one-column, two-columns, left-sidebar, custom-header, custom-menu
Text Domain: tkuim
*/

@import "nib"
@import "_variables"

@import "_partial/base"
@import "_partial/header"
@import "_partial/nav"
@import "_partial/index"
@import "_partial/sidebar"
@import "_partial/footer"
@import "_partial/faculty"
@import "_partial/post"
